@use "../../utils/breakpoints";

$justify: (
	start: start,
	center: center,
	end: end,
	space-between: space-between,
	space-around: space-around,
	space-evenly: space-evenly,
	stretch: stretch,
);

$align: (
	start: start,
	center: center,
	end: end,
	stretch: stretch,
);

$text-align: (
	left: left,
	center: center,
	right: right,
);

@each $class, $value in $justify {
	.justify-content-#{$class} {
		justify-content: $value;
	}

	@each $breakpoint, $breakpoint-value in breakpoints.$breakpoint-sizes {
		@include breakpoints.media-breakpoint-up($breakpoint) {
			.justify-content-#{$breakpoint}-#{$class} {
				justify-content: $value;
			}
		}
	}
}

@each $class, $value in $align {
	.align-items-#{$class} {
		align-items: $value;
	}

	@each $breakpoint, $breakpoint-value in breakpoints.$breakpoint-sizes {
		@include breakpoints.media-breakpoint-up($breakpoint) {
			.align-items-#{$breakpoint}-#{$class} {
				align-items: $value;
			}
		}
	}
}

@each $class, $value in $align {
	.text-align-#{$class} {
		text-align: $value;
	}

	@each $breakpoint, $breakpoint-value in breakpoints.$breakpoint-sizes {
		@include breakpoints.media-breakpoint-up($breakpoint) {
			.text-align-#{$breakpoint}-#{$class} {
				text-align: $value;
			}
		}
	}
}
