@use "../../utils/breakpoints";

$cols-map: (
	auto: auto,
	1: 100%,
  2: 50%,
  3: 33.33%,
  4: 25%,
	5: 20%,
	6: 16.67%,
	7: 14.28%,
	8: 12.55%,
	9: 11.1%,
	10: 10%,
	11: 9.09%,
	12: 8.3%
);

$gaps-map: (
	1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem
);

.flex {
  display: flex;
	flex-wrap: wrap;

	> * {
		width: 100%;
	}

	@each $cols, $value in $cols-map {
		&.cols-#{$cols} {
			@each $gap, $gap-value in $gaps-map {
				&.gap-#{$gap} {
					> * {
						width: calc(#{$value} - #{$gap-value});
					}
				}

				&.col-gap-#{$gap} {
					> * {
						width: calc(#{$value} - #{$gap-value});
					}
				}
			}

			> * {
				width: $value;
			}
		}

		@each $breakpoint, $breakpoint-value in breakpoints.$breakpoint-sizes {
			@include breakpoints.media-breakpoint-up($breakpoint) {
				&.cols-#{$breakpoint}-#{$cols} {
					@each $gap, $gap-value in $gaps-map {
						&.gap-#{$gap} {
							> * {
								width: calc(#{$value} - #{$gap-value});
							}
						}

						&.col-gap-#{$gap} {
							> * {
								width: calc(#{$value} - #{$gap-value});
							}
						}
					}

					> * {
						width: $value;
					}
				}
			}
		}
	}

	@each $gap, $value in $gaps-map {
		&.gap-#{$gap} {
			gap: $value;
		}

		&.col-gap-#{$gap} {
			column-gap: $value;
		}

		&.row-gap-#{$gap} {
			row-gap: $value;
		}
	}
}

.no-wrap {
	flex-wrap: nowrap;
}
