@use "../../utils/breakpoints";

.position-relative {
	position: relative;
}

.center-el-absolute,
.center-el-x-absolute,
.center-el-y-absolute {
	position: absolute;
	z-index: 1;
}

.center-el-absolute {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-el-x-absolute {
	left: 50%;
	transform: translateX(-50%);
}

.center-el-y-absolute {
	top: 50%;
	transform: translateY(-50%);
}

@each $breakpoint, $breakpoint-value in breakpoints.$breakpoint-sizes {
	@include breakpoints.media-breakpoint-up($breakpoint) {
		.position-relative-#{$breakpoint} {
			position: relative;
		}

		.center-el-absolute-#{$breakpoint},
		.center-el-x-absolute-#{$breakpoint},
		.center-el-y-absolute-#{$breakpoint} {
			position: absolute;
			z-index: 1;
		}

		.center-el-absolute-#{$breakpoint} {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.center-el-x-absolute-#{$breakpoint} {
			left: 50%;
			transform: translateX(-50%);
		}

		.center-el-y-absolute-#{$breakpoint} {
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
