@use "../utils/breakpoints";

.site-header {
	.logo {
		max-width: 150px;
	}

	.menu {
		@include breakpoints.media-breakpoint-down(lg) {
			display: none;
		}
	}

	.hamburger {
		@include breakpoints.media-breakpoint-up(lg) {
			display: none;
		}
	}
}
